.container {
    position: relative;
}

.splash-container {
    background-image: url(730073.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.splash {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 70vh;
}

.hero {
    margin-top: 2em;
    margin-bottom: 2em;
}

.hero h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 80px;
    color: #fff;
}

.hero p {
    font-family: 'Droid Serif', serif;
    font-size: 24px;
    font-style: italic;
    color: #c5c5c5;
}

.ship {
    align-self: flex-end;
    margin-right: 5em;
    margin-bottom: 2em;
    width: 130px;
    height: 200px;
    background-image: url(ship.png);
    animation: play 1.8s steps(8) infinite;
    transform: rotate(-15deg)
}

@keyframes play {
    from {
        background-position: 0;
    }
    to {
        background-position: -1040px;
    }
}
